.signUp-area{
    width: 30vw;
    height: 72vh;
    text-align: center;
    padding: 2rem 3.5rem;
    border-radius: 10px;
    background: #200122;
    background: -webkit-linear-gradient(to top, #6f0000, #200122);
    background: linear-gradient(to top, #6f0000, #200122);
}