
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    width: 100%;
    background-color: transparent;
    padding: 1rem 3rem;
    position: fixed;
    top: 0;

}
.brand{
    font-size: 25px;

    font-weight: 800;
    color: #ff4400;
}
nav{
    width: 55%;
}
.nav-links{
    text-align: center;
}
.nav-links li{
    list-style: none;
    display: inline-block;

}
.nav-link{
    display:block;
    padding: 10px 20px;
    margin-right: 10px;
    font-size: 18px;
    font-weight: 500;
    
}
.login-btn{
    background-color: #d53b04;
    padding: 7px 24px;
    border: 1px solid #d53b04;
    border-radius: 5px;
    color: white;
}
.login-btn:hover{
    background-color: transparent;
    color:black;
    transition: background-color .5s ease-in-out;

}
.user-name p{
    padding: 5px 10px;
    color: #d53b04;
    font-size: 18px;
    font-weight: 700;

}